view:
  title: Packager Web
  theme: packager
  buttons: [reset, download, compress]

packager:
  exports: packaged.js
  contenttype: text/javascript
  compressor: java -jar /usr/share/yui-compressor/yui-compressor.jar --type js -o {FILE} {FILE}
  tmpdir: /tmp

packages:
  - "/Users/kamicane/Sites/mootools-core-1.3/"
  - "/Users/kamicane/Sites/mootools-table/"
  - "/Users/kamicane/Sites/mootools-color/"
  - "/Users/kamicane/Sites/art/"
  - "/Users/kamicane/Sites/mootools-touch/"
