  - "/Users/kamicane/Sites/mootools-core-1.3/"
  - "/Users/kamicane/Sites/mootools-table/"
  - "/Users/kamicane/Sites/mootools-color/"
  - "/Users/kamicane/Sites/art/"
  - "/Users/kamicane/Sites/mootools-touch/"
